Train: <%= @trip.trip_short_name %><br>
Late: <%= @last_ride.minutes_late %>
<table class="container">
<tr>
    <th>Late</th>
    <th>Time</th>
    <th>Status</th>
    <th>Checkpoint</th>
  </tr>
  <% @trip.rides.order(:updated_at).each do |ride| %>
  <tr>
    <td><%= ride.minutes_late %></td>
    <td><%= localize(ride.updated_at, :format => :short) %></td>
    <td><%= ride.status %></td>
    <td><%= ride.ride_delay_logs.last.point_name %></td>
  </tr>
  <% end %>
</table>
