From: <strong><%= @source.stop_name %></strong><br>
To: <strong><%= @destination.stop_name %></strong><br>
<table class="container" id="table">
<tr>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Train</th>
  </tr>
  <% @trips.each do |trip| %>
  <tr>
    <td><%= trip["departure_time"][0..4] %></td>
    <td><%= trip["destination_time"][0..4] %></td>
    <td><%= link_to trip["trip_short_name"], planner_delays_path(trip_id: trip["trip_id"], source: @source, destination: @destination) %></td>
  </tr>
  <% end %>
</table>
<script>
let table = document.getElementById("table");
let now = new Date();

let lowestDiffTr;
for (let row of table.rows)
{
  let t1 = row.cells[0].innerText;
  let time = new Date(`<%= @date.strftime("%Y-%m-%d") %>T${t1}`);
  if (time - now > 0 && lowestDiffTr) {
      setTimeout(function () {

        lowestDiffTr.scrollIntoView();
      }, 0);

      break;
  }
  lowestDiffTr = row;
}

</script>
