From: <strong><%= @source.stop_name %></strong><br>
To: <strong><%= @destination.stop_name %></strong><br>
<table class="container">
<tr>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Train</th>
  </tr>
  <% @trips.each do |trip| %>
  <tr>
    <td><%= trip["departure_time"][0..4] %></td>
    <td><%= trip["destination_time"][0..4] %></td>
    <td><%= link_to trip["trip_short_name"], planner_delays_path(trip_id: trip["trip_id"], source: @source, destination: @destination) %></td>
  </tr>
  <% end %>
</table>
